/*
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background: black;
  color: white;
}
main {
  padding: 60px 0 0;
}
.success, .notice, .alert, .danger {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
  position: fixed;
  right: 10px;
  bottom: 70px;
}
.success {
  background-color: #4fff67bb;
}
.notice {
  background-color: #ffed00;
}
.alert {
  background-color: #ff8f00;
}
.danger {
  background-color: #ff403abb;
}
.icon {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border: 2px #36f18a solid;
}
.banner {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border: 2px #36f18a solid;
}
.loaded {
  opacity: 1;
}
.page-container {
  display: flex;
}
.display-container {
  flex: 1;
  width: 100%;
}
@media (min-width: 865px) {
  .display-container {
    display: flex;
    //justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 1080px) {
  .display-container {
    display: flex;
    padding-bottom: 60px;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    .tab {
      display: block;
    }
  }
}
@media (min-width: 1280px) {
  nav {
    width: 256px;
  }
}
.tab {
  position: sticky;
  top: 60px;
  display: none;
}
::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-track{
  background-color: #232323;
}
::-webkit-scrollbar-thumb{
  background-color: #431359;
}