/*
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background: black;
  color: white;
}
.success, .notice, .alert, .danger {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
  position: fixed;
  right: 10px;
  bottom: 70px;
}
.success {
  background-color: #4fff67bb;
}
.notice {
  background-color: #ffed00;
}
.alert {
  background-color: #ff8f00;
}
.danger {
  background-color: #ff403abb;
}
.container {
  display: flex;
}
::-webkit-scrollbar{
  width: 4px;
}
::-webkit-scrollbar-track{
  background-color: #232323;
}
::-webkit-scrollbar-thumb{
  background-color: #431359;
}