.item {
  padding: 10px 5px;
  border-bottom: 1px var(--border-color) solid;
  //display: flex;
}
.item-details {
  display: flex;
  justify-content: space-between;
}
.item-whose {
  display: flex;
  padding: 4px;
}
.item_account_image{
  border-radius: 24px;
  height: 48px;
  aspect-ratio: 1/1;
  box-shadow: 2px 4px 8px 0px var(--shadow-color);
  object-fit: cover;
  object-position: top center;
  background: linear-gradient(90deg,#747eee,#d453cc 50%,#fe5597);
}
.item-account {
  margin-left: 8px;
}
.item-account-profile {
  display: flex;
  flex-direction: column;
}
.item-account-name {
  font-size: 24px;
  line-height: 30px;
}
.item-account-name-id {
  line-height: 18px;
  font-size: 16px;
}
.item-r {
  display: flex;
  align-items: center;
}
.item-day {
  line-height: 18px;
  font-size: 14px;
}
.item-content-link {
  display: block;
}
.item-content {
  color: var(--font-color);
  min-height: 40px;
  padding: 5px;
  overflow-wrap: break-word;
}
.item-media {
  padding: 5px;
}
.item-image {
  width: 100%;
}
.item-reactions {
  display: flex;
  padding: 4px;
  flex-wrap: wrap;
}
.item-reaction {
  display: flex;
  flex-wrap: wrap;
}
.item-panel {
  padding: 4px;
}
.item-panel > details {
  display: inline-block;
}
.item-details-container{
  position: absolute;
  background: #59a059;
  padding: 10px;
  border-radius: 5px;
}
.item-reply {
  margin-left: 10px;
  border-left: #d453cc 2px solid;
  padding-left: 10px;
}