.main-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  min-width: 0;
}
main {
  max-width: 800px;
  flex-grow: 1;
  min-width: 0;
}
.tab-container {
  height: calc(100vh - 60px);
  z-index: 50;
  width: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  display: none;
}
.tabbed {
  display: flex;
  flex-direction: row;
}
.tab {
  flex-shrink: 0;
  width: 256px;
  height: calc(100vh - 60px);
  background: #828282;
}
.tab-back {
  width: 100%;
  height: calc(100vh - 60px);
  backdrop-filter: blur(3px);
}
@media (max-width: 600px) {
  main {
    padding-bottom: 60px;
  }
}
@media (min-width: 865px) {
  .tab-container {
    display: block;
    position: sticky;
    width: auto;
  }
  .tab-back {
    display: none;
  }
  .tab {
  }
}
@media (min-width: 1300px) {
  .tab {
    width: 350px;
  }
}