/* FORM-2 */
.tab-container {
  height: 100vh;
  z-index: 50;
  width: 200px;
  position: sticky;
  top: 0px;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  /* FORM-1 */
  .tab-container {
    display: none;
  }
}