<% provide(:title, 'アカウント編集') %>
<% provide(:url, update_account_path) %>
<% provide(:type, 'edit') %>
<% provide(:submit_button_text, 'アカウントを編集') %>
<h1>アカウント編集</h1>
  <p>こちらより、アカウントの編集ができます。</p>
<%= render 'shared/account_form' %>