[Unit]
Description = amiverse
After = network.target

[Service]
WorkingDirectory = /home/kisana/amiverse
ExecStart = /home/kisana/amiverse/start.sh
ExecReload=/home/kisana/amiverse/restart.sh
ExecStop = /home/kisana/amiverse/stop.sh
TimeoutStartSec=4000
TimeoutStopSec=200
# Restart = always
User = kisana
Type = forking

[Install]
WantedBy = multi-user.target
