<% provide(:layout_type, 'header_text') %>
<% provide(:title, '基本情報') %>
<% provide(:header_text, '基本情報') %>

<p>Amiverse APIは<a href="https://amiverse.net/">amiverse.net</a>のバックエンドサーバーです。</p>
<p>ここでは試験的機能を実装しています。</p>