<% provide(:title, 'FEEDBACK') %>
<% provide(:main_header_text, 'FEEDBACK') %>
<% content_for :main_content do %>
  <div>提案</div>
  <div>改善点</div>
  <div>メディア</div>
<% end %>
<%= render 'shared/default_layout' %>