<% provide(:title, 'HELP') %>
<% provide(:main_header_text, 'HELP') %>
<% content_for :main_content do %>
  <div>基本</div>
  <div>応用</div>
  <div>インスタンス作成</div>
<% end %>
<%= render 'shared/default_layout' %>