<% provide(:title, 'Info Amiverse API v0.1') %>
<% provide(:main_header_text, 'Info Amiverse API v0.1') %>
<% content_for :main_content do %>
  <h3>Ver.0.1.0</h3>
  <div>基本的な機能が実装できたのでリリース。</div>
<% end %>
<%= render 'layouts/default' %>