<% provide(:title, 'privacy_policy') %>
<% provide(:main_header_text, 'privacy_policy') %>
<% content_for :main_content do %>
  <div>privacy_policy</div>
<% end %>
<%= render 'shared/default_layout' %>