<% provide(:layout_type, 'header_text') %>
<% provide(:title, 'リリースノート') %>
<% provide(:header_text, 'リリースノート') %>

<h1>最新版</h1>
<h1>安定板</h1>
<h1>開発版</h1>
<h2>[実装中]v0.0.4</h2>
<p>予定しているもの。独創的な機能が追加。</p>
<ul>
  <li>お財布</li>
  <li>位置共有</li>
  <li>とおりすがり交信</li>
  <li>aShpp</li>
  <li>ワールド</li>
  <li>なめらか紙芝居</li>
  <li>アプリ</li>
  <li>下書き</li>
  <li>ルーム</li>
  <li>複数アカウント</li>
  <li>予約投稿</li>
  <li>ロール</li>
  <li>バッジ</li>
  <li>ページ</li>
</ul>
<h2>v0.0.3</h2>
<p>豊富な機能を追加。より魅力的に。</p>
<ul>
  <li>様々なタイムライン</li>
  <li>投票</li>
  <li>絵文字</li>
  <li>グループ</li>
  <li>リスト</li>
  <li>メッセージ</li>
  <li>タグ</li>
  <li>トピック</li>
  <li>ブロック</li>
  <li>ミュート</li>
</ul>
<h2>v0.0.2</h2>
<p>ActivityPubに対応。MastodonやMisskeyからAmiverseのアカウントを見れるように。</p>
<ul>
  <li>動画</li>
  <li>フォロー</li>
  <li>リアクション</li>
</ul>
<h2>v0.0.1</h2>
<p>開発が始まる。基本的な機能を実装。</p>
<ul>
  <li>アカウント</li>
  <li>アイテム</li>
  <li>画像</li>
  <li>招待</li>
</ul>