<% provide(:title, 'リリースノート') %>
<% provide(:main_header_text, 'リリースノート') %>
<% content_for :main_content do %>
  <div>リリースノート</div>
  <div>v0.0.1</div>
<% end %>
<%= render 'shared/default_layout' %>