<h1>SITE MAP</h1>
<p>/</p>
<ul>
  <li>about</li>
  <li>info</li>
  <li>help</li>
  <li>policy</li>
  <li>disclaimer</li>
  <li>page1</li>
  <li>sitemap</li>
  <li>@account</li>
    <ul>
      <li>/</li>
      <li>icon</li>
      <li>banner</li>
      <li>edit</li>
      <li>password_edit</li>
    </ul>
  <li>signup</li>
    <ul>
      <li>/</li>
      <li>invitation</li>
    </ul>
  <li>sessions</li>
  <li>login</li>
  <li>invitations</li>
  <li>i-:invitation_code</li>
    <ul>
      <li>/</li>
      <li>new</li>
      <li>edit</li>
    </ul>
  <li>items</li>
    <ul>
      <li>/</li>
      <li>new</li>
      <li>edit</li>
    </ul>
  <li>storage</li>
    <ul>
      <li>/</li>
      <li>new</li>
      <li>edit</li>
    </ul>
</ul>