<% provide(:title, 'アクティビティ - 設定') %>
<% provide(:selected_settings_menu, 'activity') %>
<% content_for :settings_content do %>
  <div>アクティビティ</div>
  <div>フォロー</div>
  <div>フォロワー</div>
  <div>申請</div>
<% end %>
<%= render 'settings/listed' %>