<% provide(:title, 'アナリティクス - 設定') %>
<% provide(:selected_settings_menu, 'analytics') %>
<% content_for :settings_content do %>
  <div>アナリティクス</div>
  <div>アイテム</div>
  <div>リアクション</div>
  <div>メディア</div>
<% end %>
<%= render 'settings/listed' %>