<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - アナリティクス') %>
<% provide(:header_text, '設定 - アナリティクス') %>
<% provide(:selected_settings_menu, 'analytics') %>

<% content_for :settings_content do %>
  <div>アイテム</div>
  <div>リアクション</div>
  <div>メディア</div>
<% end %>
<%= render 'settings/listed' %>