<% provide(:title, '請求と支払い - 設定') %>
<% provide(:selected_settings_menu, 'bills_and_payments') %><% content_for :settings_content do %>
  <div>請求と支払い</div>
  <div>定期購入</div>
  <div>購入履歴</div>
  <div>収益</div>
<% end %>
<%= render 'settings/listed' %>