<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - 請求と支払い') %>
<% provide(:header_text, '設定 - 請求と支払い') %>
<% provide(:selected_settings_menu, 'bills_and_payments') %>

<% content_for :settings_content do %>
  <div>定期購入</div>
  <div>購入履歴</div>
  <div>収益</div>
<% end %>
<%= render 'settings/listed' %>