<% provide(:title, 'コンテンツ - 設定') %>
<% provide(:selected_settings_menu, 'contents') %>
<% content_for :settings_content do %>
  <div>コンテンツ</div>
  <div>アイテム</div>
  <div>リアクション</div>
  <div>メディア</div>
<% end %>
<%= render 'settings/listed' %>