<% content_for :settings_content do %>
  <div>表示</div>
  <div>CW</div>
  <div>NSFW</div>
  <div>ミュート</div>
  <div>ブロック</div>
  <div>テーマ</div>
  <div>テーマ色</div>
  <div>テーマ背景色</div>
  <div>フォント</div>
  <div>フォントサイズ</div>
  <div>壁紙</div>
<% end %>
<%= render 'settings/listed' %>