<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - 表示') %>
<% provide(:header_text, '設定 - 表示') %>
<% provide(:selected_settings_menu, 'display') %>

<% content_for :settings_content do %>
  <div>CW</div>
  <div>NSFW</div>
  <div>ミュート</div>
  <div>ブロック</div>
  <div>テーマ</div>
  <div>テーマ色</div>
  <div>テーマ背景色</div>
  <div>フォント</div>
  <div>フォントサイズ</div>
  <div>壁紙</div>
<% end %>
<%= render 'settings/listed' %>