<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - 通知') %>
<% provide(:header_text, '設定 - 通知') %>
<% provide(:selected_settings_menu, 'notifications') %>

<% content_for :settings_content do %>
  <div>投稿へのリアクション</div>
  <div>投稿への返信</div>
  <div>フォロー</div>
<% end %>
<%= render 'settings/listed' %>