<% provide(:title, '通知 - 設定') %>
<% provide(:selected_settings_menu, 'notifications') %>
<% content_for :settings_content do %>
  <div>通知</div>
  <div>投稿へのリアクション</div>
  <div>投稿への返信</div>
  <div>フォロー</div>
<% end %>
<%= render 'settings/listed' %>