<% provide(:title, '管理画面') %>
<h1>管理画面</h1>
<ul>
  <li><%= link_to 'アカウント', admin_accounts_path %></li>
  <li><%= link_to 'セッション', admin_sessions_path %></li>
  <li><%= link_to '招待', admin_invitations_path %></li>
  <li><a href="/admin/items">アイテム一覧</a></li>
</ul>