<% provide(:url, Account.all.empty? ? signup_create_admin_path : signup_create_path) %>
<% provide(:type, 'new') %>
<% provide(:submit_button_text, '作成') %>
<% provide(:title, 'サインアップ') %>
<% provide(:main_header_text, 'サインアップ') %>
<% content_for :main_content do %>
  <div class="signup-p2-container">
    <%= render 'accounts/form' %>
  </div>
<% end %>
<%= render 'layouts/default' %>