<% provide(:title, 'TL') %>
<% provide(:main_header_text, 'TL') %>
<% content_for :main_content do %>
  <div id="items">
    <% @items.each do |item| %>
      <%= render 'shared/show_item', item: item, reactions: @reactions %>
    <% end %>
  </div>
  <%= link_to "New item", new_item_path %>
<% end %>
<%= render 'shared/default_layout' %>